 /* produk */

 #navbarp{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #9F9F9F;
    border-bottom: solid 4px transparent ;
}

#navbarp li{
    border-bottom: solid 4px transparent;
}

#navbarp li:hover{
    font-weight: bold;
    color: #6A4029;
    border-bottom: solid 4px #6A4029 ;

}
    #produk{
        border-radius: 30px ;
        width: 176px;
        height: 212.41px;
        margin-top: 90px;  
        cursor: pointer;
    }

    #produk:hover{
        border: solid 2px #6A4029;
    }

    #produk .card-body img{
        margin-top: -90px;
        margin-left: -15px;
    }

    #produk .card-body h5{
        width: 125px;
        height: 61px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 101.34%;
        margin-top: 10px;
        text-align: center;
        color: #000000;
        align-items: center;
    }

    #produk .card-body p{
        position: absolute;
        width: 135.13px;
        height: 14.93px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        margin-left: 10px;
        margin-top: 15px;

        color: #6A4029;

    }

    .list li{
        background-color: transparent;
        border: transparent;
    }

   
/* promo */
    .promo{
        border-right: solid 1px #9F9F9F;
    }
    #promo{
        width: 335px;
        height: 109px;
        background: #88B788;
        border-radius: 20px;
    }
    #promo:hover{
        background-color:bisque !important;
        cursor: pointer;
    }

    #promo .card-body img{
        margin-top:-10px;
        margin-left: -15px;
    }

    #promo .card-body h5{
        margin-top: -75px;
        margin-left: 70px;
        width: 215px;
        height: 57px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
    }

    #promo .card-body p{
        margin-top: -40px;
        margin-left: 70px;
        width: 190px;
        height: 57px;
        font-family: Poppins;
        font-style: normal;
        line-height: 21px;
        font-size: 14px;
        color: #000000; 
    }
    .orange{
        background-color: #F5C361 !important;
    }
    .orange:hover{
        background-color:bisque !important;
    }

    .coklat{
        background-color: #C59378 !important;
    }
    .coklat:hover{
        background-color:bisque !important;
    }
    .apply button{
        width: 335px;
        height: 64px;
        background: #6A4029;
        border-radius: 20px;
        border: none;
        cursor: pointer;                     
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .apply button:hover{
        background-color: #F5C361;
    }

    .ket-promo h1{
        width: 291px;
        height: 30px;
        margin-top: 20px;
        margin-left: 210px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #6A4029;
    }

    .ket-promo p{
        width: 231px;
        height: 36px;
        margin-left: 185px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }