/* navbar */
nav{
    box-shadow: 1px 1px 10px #cccccc;
  }
 #navb{
            margin-left: 460px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 19px;
            /* identical to box height */
            color: #4F5665;

            
        }

        #navb li{
            padding-right: 20px !important;
         
        }

        #navb li:hover{      
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
           
            line-height: 19px;
            color: #6A4029;
        }

        .logo-navbar{
            margin-left: 210px !important;
        }

        .logo-navbar h1{
            width: 122px;
            height: 24px;
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #0B132A;
            
        }

        .form-control{
            border-radius: 30px;
        }