@media screen and (max-width: 576px){
    .form-group{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        color: #4F5665;
        margin-bottom: 20px;
        margin-left: -30px;
      
    } 
    .form-group input{
        background: #FFFFFF;
        border: 1px solid #4F5665;
        box-sizing: border-box;
        border-radius: 20px;
        width: 310px;
        height: 65px;
    
    }

    .btn{
        background: #FFBA33;
        box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
        border-radius: 20px;
        width: 310px;
        height: 75px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #6A4029;
        margin-left: -30px;
        justify-items: center;
    }
    #google{
        margin-left: -30px !important;
        background: white;
        color: black;
        font-size: 17px;
        border: none;
        margin: 30px auto;
        width: 310px;
        height: 75px;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
        font-weight: bold;
        cursor: pointer;   
    }
    #card-loved{
        margin-left: -85px !important;
       
        width: 350px;
    }
  
    #card-loved img{
      margin-top: -3px;
      margin-left: -20px;
    
  }
  
  #card-loved h6{
      font-family: Rubik;
      font-style: normal;
      font-size: 12px;
      color: #0B132A;
      margin-left: 30px;
      margin-top: -2px;
  }
  
    #card-loved .card-text{
        font-size: 12px !important;
      
  }
  .logo-footer{
    margin-top: 25px;
    margin-left: 30px;
}
  .ket-logo{
     margin-left: 30px;
  }
  .ket-logo p{
   text-align: center;
   margin-left: -190PX;
  }
  .ket-footer{
   text-align: center;
   margin-left: -530px;
  }
  .icon-sosmed{
   margin-left: 10px;
  }
}